{% extends 'dash/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 10px;
  }

  .top-section {
      margin: 0;
      padding: 0;
    }

  .chart-container {
  width: 99%;         /* Cambia de 90% a 100% */
  max-width: none;     /* Elimina el límite */
  height: 650px;       /* Puedes ajustar la altura también si deseas */
  margin: 10px auto 30px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


  .chart-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
  }

  .box:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }



  .box:nth-child(1) { background-color: #f69c72; }
  .box:nth-child(2) { background-color: #f69c72; }
  .box:nth-child(3) { background-color: #f69c72; }



  .top-section iframe {
      display: block;
      width: 100%;
      border: none;
      margin: 0;
      padding: 0;
    }

    .side-boxes {
  display: flex; /* Alinea los elementos en una fila horizontal */
  justify-content: space-between; /* Asegura que haya espacio entre los elementos */
  flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben en una línea */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  max-width: 800px; /* Establece un máximo ancho para las cajas */
  margin: 0 auto; /* Centra las cajas en la página */
}

.box {
  width: 30%; /* Ancho de las cajas (ajustado para que quepan mejor en una fila) */
  height: 100px; /* Alto de la caja */
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  background-color: #f4f4f4; /* Fondo gris claro */
  border: 1px solid #ddd; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 14px; /* Tamaño de la fuente */
  margin: 5px; /* Espacio alrededor de cada caja */
  color: #ffffff;
}

.box i {
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}


</style>

<div class="top-section">
  <iframe src="/static/graficas/resumen_datos.html?v={% now 'U' %}"></iframe>
</div>

<div class="chart-container">
  <iframe
    src="{% static 'graficas/grafica_Junio2024.html' %}"
    loading="lazy"
    referrerpolicy="no-referrer"
    allowfullscreen
  ></iframe>
</div>

<div class="side-boxes">

  <div class="box"  style="font-size: 20px;"><i class="fas fa-chart"></i><div>
    <div style="font-size: 30px; text-align: center;" font-family: sans-serif; >4,426</div>
    <div style="font-family: sans-serif;
    font-size: 150%;
    font-style: oblique; font-size: 20px;" >Total de Artículos</div>
  </div> </div>
  <div class="box"   style="font-size: 20px; text-align: center;"><i class="fas fa"></i> <div>
    <div style="font-size: 30px; text-align: center;" >$ 4,043,81.50</div>
    <div style="font-family: sans-serif;
    font-size: 150%;
    font-style: oblique; font-size: 20px;">Ingreso Mensual</div>
  </div></div>
  <div class="box"  style="font-size: 20px;"><i class="fas fa"></i>
    <div>
      <div style="font-size: 30px; text-align: center;" >48,941</div>
      <div style="font-family: sans-serif;
      font-size: 150%;
      font-style: oblique; font-size: 20px;" >Total de Unidades</div>
    </div>
   </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Articulo</th>
      <th scope="col">Imagen</th>
      <th scope="col">Unidades</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">1</th>
      <td>Cable de acero flexible 3/16' 300 m</td>
      <td><img src="../../../static/img/cable flexible.png" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
     <td>600</td>
    <td>6206.90</td>
  </tr>

  <tr>
    <th scope="row">2</th>
    <td>CODO 90° DE PPR 3/4' 25MM</td>
      <td><img src="../../../static/img/cintanegra.jpg" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
      <td>563</td>
      <td>2075.91</td>
  </tr>

  <tr>
    <th scope="row">3</th>
    <td>CINTA DE AISLAR # 33 18M NEGRA</td>
    <td><img src="../../../static/img/cintanegra.jpg" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
   <td>351</td>
  <td>4306.48</td>
  </tr>

  <tr>
    <th scope="row">4</th>
    <td>CABLE DE ACERO 1/4' FLEXIBLE</td>
    <td><img src="../../../static/img/cable flexible.png" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
    <td>300</td>
          <td>5172.41</td>
  </tr>

  <tr>
    <th scope="row">5</th>
    <td>COPLE DE PPR 1/2' 20MM</td>
    <td><img src="../../../static/img/cople.jpg" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
    <td>281</td>
  <td>671.78</td>
  </tr>

  <tr>
    <th scope="row">6</th>
    <td>CONECTOR DE PPR 1/2' 20MM MACHO</td>
    <td><img src="../../../static/img/conector macho ppr.jpg" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
   <td>258</td>
    <td>6487.98</td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>CODO 90° DE CPVC 13MM</td>
      <td><img src="../../../static/img/codo cpvc.jpg" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
    <td>216</td>
  <td>315.95</td>
</tr>

<tr>
  <th scope="row">8</th>
  <td>DISCO CORTE FINO DE METAL TIPO 1 4-1/2' 1.2 MM PRETUL</td>
    <td><img src="../../../static/img/discometal pretul.png" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
   <td>201</td>
  <td>1469.86</td>
</tr>

<tr>
  <th scope="row">9</th>
  <td>DISCO CORTE FINO DE METAL TIPO 1 4-1/2' 1.0 MM PRETUL</td>
    <td><img src="../../../static/img/discometal pretul.png" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
   <td>199</td>
    <td>1426.77</td>
</tr>

<tr>
  <th scope="row">10</th>
  <td>CINTA DE EMPAQUE TRANSPARENTE 150M</td>
    <td><img src="../../../static/img/cinta trasparente.png" alt="Descripción de la imagen" style="width: 60px; height: 60px; object-fit: cover;"></td>
   
    <td>195</td>
    <td>7685.34</td>
</tr>
  </tbody>
</table>


{% endblock %}
